<nav>
    <h1>HORROR STORY</h1>
    <a href="/"><h3>Home</h3></a>
    
    <a href="/login" class="link">Log In</a>
    <a href="/register" class="link">Register</a>
    <a href="/post/add" class="link"> Post a Story</a>
    <a href="/logout" class="link"> Log Out</a>
  </nav>